body{
	background: #FFFFFF;
}
/* navbar start*/
.navbar-default{
	background: transparent;
	border-color: transparent;
	padding-top: 40px;


}

.navbar-default .navbar-nav > li > a {
    color: #B75353;
    padding-top: 5px;
    padding-bottom: 5px;

}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #9C8686;
    background-color: #643A79;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;

}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0;
    font-size: 18px;
    line-height: 20px;

}

.navbar-brand > img {
    display: block;
    width: 90%;
}
/* navbar end*/

.carousel-caption{
	right: 0;
	left: 0;
	padding-bottom: 30px;
	top: 50%;
	transform: translateY(-50%); 
}



.row {
    margin-right: -30px;
    margin-left: -30px;
}





.carousel-caption h1{
    font-size: 36px;
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.btn {
       background-color: #2FB9E6;
    color: #fff;
}
}

.btn:hover, .btn:focus, .btn.focus {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border: 1px solid #EB7D4B;
    transition: all 0.5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}
.slider-img{
	width: 100%

}






.sirvice{
background: #15C0A2;
text-align: center;
 padding-top: 20px;

}
.sirvice h1{
text-transform: uppercase;
font-weight: 900;
color: #fff;
}
.sirvice p{
    color: #fff;
    max-width: 500px;
    margin: 0 auto;

}



.design{
text-align: center;
 padding-top: 20px;
 padding: 40px 0;
}
.design h1{
text-transform: uppercase;
font-size: 18px;
color: #fff;
}
.design p{
 color: #fff;
}
.design img{
margin: 0 auto;
}



.secend{
    padding: 50px 0;
background: #E5EFF6;
}
.beautiful{
    text-align: center;
    
    color: #455069;
}
.beautiful h1{
font-weight: 900;
text-transform: uppercase;

}
.beautiful span{

}
.beautiful p{

}


.round .social img{
   
    margin: 0 auto;
}

.round{
text-align: center;

}
.round h1{
text-transform: uppercase;
font-weight: 900;

}
.round span{
color:#6ECCEC; 
}
.round p{

}
.round img{
margin: 0 auto;
}



.social{
    margin: 0 auto;
}


.skills-part{
    padding: 50px 0;
}



.skills{
text-align: center;
margin: 0 auto;
color: #3B4660;

}

.skills h1{
text-transform: uppercase;
font-weight: 900;

}
.skills p{
max-width: 500px;
margin: 0 auto;
}






.design{
color: #3B4660;
margin: 0 auto;
}
.design h1{
text-transform: uppercase;

}



.portfolio-part{
    background: #FFDD99;
    padding: 50px 0;
}

.portfolio{
text-align: center;
color: #383838;
}

.portfolio h1{
text-transform: uppercase;
font-weight: 900;
}
.portfolio p{

}


.potf{
    text-align: center;
    padding: 30px 0;
}

.load{
text-align: center;

}
.load a{
text-transform: uppercase;
color: #fff;
background: #17C2A4;
padding: 10px 30px;
}



.about{
    background: #D6457F;
    padding: 50px 0;
}

.poeple{
text-align: center;
color: #fff;
}
.poeple h1{
text-transform: uppercase;
font-weight: 900;
}



.chanel{
    float: left;
    margin: 0 auto;
    padding-right: 5px;
}




.content{
text-align: center;
margin: 0 auto;
float: left;

}
.chanel img{
    padding-left: 100px;
    padding-top: 30px;

}

.chanel-part{
    padding: 50px 0;
}


.content{
    padding: 30px 0;
    padding-left: 10px;
padding-top: 30px;
}

.content p{
color: #E898B8;
max-width: 200px;
}
.content h1{
text-transform: uppercase;
font-weight: 900;
color: #fff;
font-size: 13px;
}
.content span{
color: #F0A78F;
}




.touch-part{
padding: 50px 0;
background: #3C5499;
text-align: center;
}


.touch{
text-align: center;
color: #fff;
padding: 30px 0;
}
.touch h1{
text-transform: uppercase;
font-weight: 900;
}
.touch p{

}
.form-group {
    margin-bottom: 15px;
    padding: 10px 0;
}


.contact input[type]{
    background: #273A71;
    border-color: transparent;
   }

.comment{
    background: #273A71;
    border-color: transparent;
}


.footer-part{
    background: #334A8D;
}

.footer{

}
.footer ul{

}
.footer ul li{
float: left;
list-style: none;

}
.footer ul li a{
text-align: center;
text-decoration: none;
display: inline-block;
padding: 10px 100px;
}